<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./head_about'); %>
</head>

<body>
    <header class="main-header">
        <%- include('./header'); %>
    </header>
    <main>
        <nav class="menu-nav">
            <div class="menu-nav__items">
                <div class="menu-nav__item">
                    <a href="/product">Birthday Bouquets</a>
                </div>
                <div class="menu-nav__item">
                    <a href="/product">Balloony Occasions</a>
                </div>
                <div class="menu-nav__item">
                    <a href="/product">Build a Balloon Bouquet</a>
                </div>
                <div class="menu-nav__item">
                    <a href="/product">Decorating with the Balloons</a>
                </div>
                <div class="menu-nav__item">
                    <a href="/product">Balloon in Bulk</a>
                </div>
            </div>
        </nav>
        <div class="details">
            <div class="about-structure">
                <h3 class="about-company">
                    LOOKING FOR BALLOONS?</br></br>
                    We carry top brand foil, mylar, latex balloons, and balloon accessories online.
                </h3>
                <p class="about-company-paragraph">We supply beautiful balloon displays and balloon decorations for Weddings, Baby Showers, Christenings, Birthdays, Anniversaries, Parties and corporate events.
                     We provide a professional creative and caring service providing balloon decorations tailored to your requirements and budget.</p>
            </div>
            <div class="owner-intro about-structure">
                <figure class="about-img">
                    <img src="./images/owner.jpg" alt="balloon bunch">
                </figure>
                <p class="owner-details">
                    I'm Rayn Ronalds the owner of balloonatic asylum, I thought of starting this business when I involved in the decoration for my friend's birthday where i developed interest on it.
                    Later I prepared myself and started this company in 2000. I love my work and try to give my best everytime 
                </p>
            </div>
            <div class="about-structure">
                <h3 class="about-company">
                    HISTORY</h3>
                    <p>Pursuing our passion, We started this company in 2000 where we were very interested in decorations and balloons were trending by then which looked very attractive and colorful. 
                        We love our job and hopefully this shows in our work as we continue to learn to enable us to take your party or event to the next level.</p>
            </div>    
        </div>
    </main>
    <footer>
        <%- include('./footer'); %>
    </footer>

</body>

</html>