<head>
    <link rel="stylesheet" href="./CSS/login.css">
</head>
<div>
    <button class="toggle-button">
        <span class="toggle-button__bar"></span>
    </button>
    <a href="/" class="main-header__brand">
        <img src="./images/icon.jpg" alt="balloon asylum">
    </a>
</div>
<h3> THE BALLOONATIC ASYLUM </h3>
<nav class="main-nav">
    <div class="main-nav__items">
        <div class="main-nav__item">
            <a href="/product">Products</a>
        </div>
        <div class="main-nav__item">
            <a href="/about">About</a>
        </div>
        <div class="main-nav__item">
            <a href="/contact">Contact Us</a>
        </div>
        
        <div>
            <button onclick=window.location.href="/login" style="width:auto;">Login</button>
        </div>
        <div>
            <button onclick=window.location.href="/index" style="width:auto;">Sign Up</button>
        </div>
    </div>
</nav>
