<link rel="stylesheet" href="./CSS/login.css">
<form class="form-signin" action="/login" method="POST">
  <h2 class="form-signin-heading">Login:</h2>
  <label for="inputEmail" class="sr-only">Email</label>
  <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Email" autofocus required><br>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required><br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  <button onclick=window.location.href="/">Cancel</button>
</form>

<% if (message!="" && message!= null) { %>
<h1 style="color: red;"><%  message %></h1><%} %>