<body>
    <p>logged out successfully</p>
    <h3>THANK YOU FOR THE PURCHASE AT OUR STORE. HAVE A GREAT TIME AND HOPE YOU ENJOY THE PRODUCT</h3>
    <button class="button" onclick="location.href='/'"> HOME </button>
</body>
